body {
    margin: 40px;
    background-color: #1F2937;
    color: white;
    font-family: "Karla", sans-serif;
}

span {
    display: block;
    color: #4ADF86;
    margin-top: -5px; 
}

h1{
    margin-bottom: -8px
}

button {
    background-color: #10B981;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 10px;
    margin: 20px 0 15px 0;
}

hr{
    border: 1px solid #2F3E53;
}

#password-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}

.password{
    background-color: #273549;
    width: 180px;
    height: 25px;
    text-align: center;
    color: #55F991;
    padding: 8px 0;
    border-radius: 8px;
}
